@media (max-width: 980px) {
	#pfTopSlide .pfCenterBlock {
		width: 100%;
	}
	#pfTopSlide #pfTopSlideLogo { padding-left: 10px; }
	#pfTopSlide .pfCenterBlock .nav { padding-right: 10px; }
	.pfWork_container,
	#pfContent .pfCenterBlock,
	.pfWork_wrapper {
		width: 100%;
	}
	.pfWork_wrapper ul li {
		width: 32%;
	}
	.pfWork_wrapper ul li span img { 
		max-width: 100%;
	}
	.pfWork_wrapper ul li span div.pfWorkItemHover {
		width: 92%;
		height: 90%;
	}
	#pfProfile .pfProfileSummary {
		width: 62%;
	}
	#pfProfile .pfProfileSkills {
		float: right;
		width: 37%;
	}
	#pfProfile .pfProfileExperience {
		width: 100%;
	}
	#pfProfileExperienceList .pfImage {
		width: 24%;
		margin: 0 1%;
	}
	#pfProfileExperienceList .pfImage img { max-width: 100%; }
	#pfProfileExperienceList .pfProfileListContent {
		float: right;
		width: 73%;
		margin-right: 1%;
	}
	#pfContact { width: 100%; }
	#pfContact .pfContactDataBlock {
		width: 40%;
		margin: 0;
	}
	#pfContact .pfContactFormBlock {
		width: 58%;
		margin: 0;
		float: right;
	}
	#name { width: 40%; }
	#email { width: 40%; }
	#pfContact .pfContactFormPaper { width: 91%; }
	#inputs input, #inputs textarea { width: 90%; }
	#pfBottom .pfBottomContainer { width: 100%; }
}