/* menu */
/*

* $icons
* $nav
* $pfHome
* $pfContent
* $pfWork
* $pfProfile
* $pfContact

*/
/* end of menu */

/* $icons */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,400italic,700);
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'icomoon2';
	src:url('fonts/icomoon2.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.icon-location:before {
	font-family: 'icomoon2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-location:before {
	content: "\21";
}

body, p, ul, li, a, h1, h2, h3, h4, h5, span, input, textarea {
	margin: 0;
	padding: 0;
}
body {
	background: #f4f4f4;
}
body, p, strong, ul, li, a, h1, h2, h3, h4, h5, span {
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 11pt;
	font-weight: normal;
}
p, span, h4 {
	color: #444;
}
a {
	color: #444;
}
a:hover, a:focus {
	color: #831815;
}

/* $pfHome */

#pfTopSlide {
	height: 60px;
	width: 100%;
	top: 0;
	z-index: 30;
}
#pfTopSlide #pfTopSlideLogo {
	height: 60px;
	float: left;
	width: 300px;
}
#pfTopSlide #pfLogo {
	float: left;
	position: relative;
	top: 11px;
}
#pfTopSlideLogo a.pfLogoLink {
	text-decoration: none;
}
#pfTopSlideLogo a.pfLogoLink img {
	border: 0 !important;
}
#pfTopSlide #pfTopSlideLogo h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 30px;
	position: relative;
	top: 15px;
	left: 7px;
	float: left;
}
.default_menu #pfTopSlideLogo h2 {
	color: #444444;
}
.fixed_menu #pfTopSlideLogo h2 {
	color: #f4f4f4;
}
.default_menu {
	position: absolute;
	border-bottom: 1px solid #E1E1E1;
  	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
	background: #ffffff;
}
.fixed_menu {
	position: fixed;
	border-bottom: 1px solid #252525;
  	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
	background: url(../img/blackorchid.png) repeat #101010;
}
#pfTopSlide .pfCenterBlock {
	margin: 0 auto;
	width: 960px;
	position: relative;
	height: 60px;
}
#pfTopSlide .pfCenterBlock .nav {
	position: relative;
	float: right;
	height: 60px;
}
#pfTopSlide .pfCenterBlock .nav ul {
	list-style: none;
}
#pfTopSlide .pfCenterBlock .nav ul li {
	line-height: 60px;
	display: inline;
	margin-left: 25px;
}
#pfTopSlide .pfCenterBlock .nav ul li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 11.5pt;
	text-decoration: none;
	padding-bottom: 2px;
}
.default_menu .pfCenterBlock .nav ul li.active a {
	color: #B81C20;
	border-bottom: 2px solid #B81C20;
}
.default_menu .pfCenterBlock .nav ul li a {
	color: #4c4c4c;
}
.fixed_menu .pfCenterBlock .nav ul li.active a {
	color: #f4f4f4;
	border-bottom: 2px solid #ddd;
}
.fixed_menu .pfCenterBlock .nav ul li a {
	color: #f4f4f4;
}
.default_menu .pfCenterBlock .nav ul li a:hover, .default_menu .pfCenterBlock .nav ul li a:focus {
	border-bottom: 1px solid #4c4c4c;
}
.default_menu .pfCenterBlock .nav ul li.active a:hover, .default_menu .pfCenterBlock .nav ul li.active a:focus {
	border-bottom: 2px solid #B81C20;
}
.fixed_menu .pfCenterBlock .nav ul li a:hover, .fixed_menu .pfCenterBlock .nav ul li a:focus {
	border-bottom: 1px solid #ddd;
}
.fixed_menu .pfCenterBlock .nav ul li.active a:hover, .fixed_menu .pfCenterBlock .nav ul li.active a:focus {
	border-bottom: 2px solid #ddd;
}

/* $pfHome */

#pfHome {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	background: url("../img/blackorchid.png") repeat scroll 0 0 #101010
}
#pfHome .pfHomeLoader {
	position: absolute;
	width:100px;
	height: 100px;
	margin: 0 auto;
	background: url(../img/loader_black.gif) center center no-repeat transparent;
	z-index: 1;
	top: 58%;
	left: 47%;
}
#pfHome .disabled {
	display: none;
}
#pfHome img {
	max-width: 1920px;
	position: absolute;
	z-index: 10;
	display: none;
}
#pfHome .hello {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	z-index: 20;
	top: 28%;
	height: 500px;
	overflow: hidden;
}
#pfHome .hello h1 {
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
}
#pfHome .hello h1 span {
	color: #fff;
}
#pfHome .hello h1 span.first_line {
	font-size: 95px;
	line-height: 108px;
	text-transform: uppercase;
}
#pfHome .hello h1 span.second_line {
	font-size: 30px;
	font-weight: normal;
}

/* $pfContent */

#pfContent {
	position: absolute;
	background: #f4f4f4;
	z-index: 25;
	width: 100%;
}
#pfContent h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 15.5pt;
	padding-bottom: 8px;
	color: #444;
	border-bottom: 1px solid #d4d4d4;
}
#pfContent .pfCenterBlock {
	width: 960px;
	margin: 0 auto;
}
#pfContent .pfCenterBlock .pfClose {
	position: relative;
	top: 0;
	float: right;
	background: url("../img/close.png") transparent no-repeat top left;
	height: 30px;
	width: 30px;
	cursor: pointer;
	opacity: 0.55;
}
#pfContent .pfCenterBlock .pfClose:hover, #pfContent .pfCenterBlock .pfClose:focus {
	opacity: 0.8;
}
/* pfWorkItemPresentation */
#pfWorkItemPresentation {
	position: absolute;
	display: none;
	top: 20px;
	width: 100%;
	height: 650px;
	background: #F4F4F4;
	z-index: 27;
}
#pfWorkItemPresentation .pfCenterBlock {
	width: 960px;
	margin: 0 auto;
	height: 100%;
}
#pfWorkItemPresentation .pfProjectFramePhoto {
	width: 700px;
	height: 650px;
	margin: 0 auto;
}
#pfWorkItemPresentation .pfLoadingImage {
	background: url(../img/loader.gif) center center no-repeat transparent;
}
#pfProjectBigPhoto {
	margin-top: 35px;
	display: none;
}
#pfProjectDescBlock {
	width: 700px;
	margin-top: 10px;
	text-align: center;
}
#pfProjectDesc {
	font-family: 'Droid Serif' sans-serif;
	font-style: italic;
	font-size: 11.5pt;
}
#pfProjectDesc a, #pfProjectDesc a:active {
	color: #444;
}

/* $pfWork */

#pfWork {
	position: relative;
	margin-top: -60px;
	padding-top: 90px;
}


.pfWork_container{
	width:960px;
	height:600px;
	position:relative;
	margin: 25px 0;
}
.pfWork_nav{
	position:absolute;
	right:0px;
	top:0;
	margin-top:-58px;
	height:30px;
	width:80px;
}
.pfWork_nav span{
	width:39px;
	height:25px;
	background: transparent url(../img/prev.png) no-repeat top left;
	position:absolute;
	top:0px;
	left:0px;
	text-indent:-9000px;
	opacity:0.7;
	cursor:pointer;
}
.pfWork_nav span.tj_next{
	background-image:url(../img/next.png);
	top:auto;
	left:45px;
}
.pfWork_nav span:hover{
	opacity:1.0;
}
.pfWork_wrapper{
	width:100%;
	height:100%;
	position:relative;
	margin:0px auto;
}
.pfWork_wrapper ul {
	list-style: none;
}
.pfWork_wrapper ul li {
	float:left;
}
.pfWork_wrapper ul li span {
	outline:none;
	display:block;
	margin:10px;
}
.pfWork_wrapper ul li span div.pfWorkItemHover {
  display: none;
  position: absolute;
  width:300px;
  height:250px;
  background: #fff;
  z-index: 2;
  opacity: 0.8;
  cursor: pointer;
}
.pfWork_wrapper ul li span div.pfWorkItemHover h3 {
	border-bottom: 0 !important;
	margin: 20px 15px;
	opacity: 1;
}
.pfWork_wrapper ul li span div.pfWorkItemHover .pfWorkItemHoverZoom {
	position: absolute;
	top: 105px;
	left: 120px;
	width: 45px;
	height: 50px;
	border: 0;
	background: url(../img/magnifier.png) no-repeat top left transparent;
}
.pfWork_wrapper ul li span div.pfWorkItemHover h5 {
	position: absolute;
	bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #444;
	margin: 0px 15px;
}
.pfWork_wrapper ul li span div.pfWorkItemHover h5 a {
	color: #444;
}
.pfWork_wrapper ul li span img {
	display:block;
	border:none;
	opacity: 1;
	-moz-box-shadow:2px 2px 4px #ccc;
	-webkit-box-shadow:2px 2px 4px #ccc;
	box-shadow:2px 2px 4px #ccc;
}

/* $pfProfile */

#pfProfile {
	position: relative;
	margin-top: -60px;
	padding-top: 90px;
}
#pfProfile h4 {
	font-weight: 400;
	margin-top: 10px;
	margin-left: 10px;
}
#pfProfile .pfProfileSummary {
	width:600px;
	float:left;
}
#pfProfile .pfProfileSummary p {
	text-align: justify;
	font-size: 10.5pt;
	color: #555;
	margin: 10px 30px 10px 10px;
}
#pfProfile .pfProfileSkills {
	width:360px;
	float:left;
}
#pfProfile .pfProfileSkills ul.pfProfileSkillsList {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	color: #444;
	margin: 10px;
}
#pfProfile .pfProfileSkills ul.pfProfileSkillsList li {
	font-size: 10.5pt;
	color: #555;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
}
#pfProfile .pfProfileSkills ul.pfProfileSkillsList li:last-child {
	border-bottom: none;
}
#pfProfile .pfProfileSkills ul.pfProfileSkillsList .pfProfileSkillsStarItem {
	float: right;
}
#pfProfile .pfProfileSkills ul.pfProfileSkillsList li .pfProgileSkillsStars .full {
	color: #DD0E2A;
}
#pfProfile .pfProfileSkills ul.pfProfileSkillsList li .pfProgileSkillsStars .null {
	color: #bbb;
}
#pfProfile .pfProfileExperience {
	width:960px;
	float:left;
	margin-bottom:20px;
}
#pfProfile .pfProfileExperience #pfProfileExperienceList {
	list-style: none;
}
#pfProfile .pfProfileExperience #pfProfileExperienceList li {
	margin-top: 20px;
	float: left;
}
#pfProfileExperienceList .pfImage {
	width:230px;
	margin: 0 35px 0 15px;
	float:left;
	opacity: 0.3;
}
#pfProfileExperienceList .pfProfileListContent {
	width:680px;
	float:left;
}
#pfProfileExperienceList h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 11.5pt;
}
#pfProfileExperienceList h5.freelancerH5 {
	position: relative;
	margin-bottom: 10px;
}
#pfProfileExperienceList p {
	font-weight: 300;
	font-size: 11pt;
	position: relative;
	float: left;
	text-align: justify;
	top: -7px;
}
#pfProfileExperienceList span.company {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 9.5pt;
	margin-bottom: 10px;
	position: relative;
	top: -5px;
}
#pfProfileExperienceList span.jobTime {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 9.5pt;
	margin-bottom: 10px;
	position: relative;
	top: -20px;
	float: right;
}

/* $pfContact */

#pfContact {
	position: relative;
	margin-top: -20px;
	padding-top: 90px;
	float: left;
	width: 960px;
}
#pfContact .pfContactItemBlock {
	margin-top: 20px;
	margin-bottom:30px;
	padding: 7px;
	-moz-box-shadow:2px 2px 4px #ddd;
	-webkit-box-shadow:2px 2px 4px #ddd;
	box-shadow:2px 2px 4px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #eee;
}
#pfContactEmailAddressBlock, #pfContactMobileBlock {
	padding: 10px;
	border: 1px dashed #D4D4D4;
	font-size: 16pt;
	font-weight: 300;
	display: none;
}
#pfContactGetSocialH4 {
	margin-bottom: 5px;
}
#pfContactFormH4, #pfContactGetSocialH4 {
	font-weight: 400;
}
#pfContactFormH4 {
	margin-top: 10px;
	margin-left: 10px;
}
#pfContact .pfContactDataBlock {
	position: relative;
	width: 380px;
	margin: 10px;
	float: left;
}
#pfContact .pfContactFormBlock {
	position: relative;
	width:560px;
	right: 0;
	float: left;
}
#pfContact .pfContactFormPaper {
	background: #eee;
	width:530px;
	margin: 10px;
	padding: 10px;
	-moz-box-shadow:2px 2px 4px #ddd;
	-webkit-box-shadow:2px 2px 4px #ddd;
	box-shadow:2px 2px 4px #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#pfContact .pfIcons {
	line-height: 30px;
	color: #9c9c9c;
}
#pfEmailAddress, #pfMobile {
	margin-left: 5px;
	font-size: 14pt;
}
#pfContact ul.pfSocialList {
	margin-bottom: 5px;
	display: inline;
}
#pfContact ul.pfSocialList li {
	list-style: none;
	float: left;
	margin-right:10px;
}
#pfContact ul.pfSocialList li a {
	text-decoration: none;
}
#pfContact .pfSocialIcons {
	line-height: 20px;
	color: #bbb;
	font-size: 22pt;
}

/*---- ContactForm ----*/

#pfContactForm {
	padding: 10px;
	border: 1px dashed #D4D4D4;
}
fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
#inputs input, #inputs textarea {
    background: #f1f1f1 url(../img/sprite_form.png) 10px 10px no-repeat;
    padding: 12px 10px 12px 35px;
    margin: 0 5px 10px 0;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
#name {
    background-position: 5px 7px !important;
    width: 199px;
}
#name:focus:invalid, #email:focus:invalid, #form_content:focus:invalid {
	border-color:red;
}
#name:focus:valid, #email:focus:valid, #form_content:focus:valid {
	border-color: green;
}
#email {
    background-position: 5px -45px !important;
    width: 199px;
    padding: 12px 5px 12px 40px !important;
}
#form_content {
	background-position: 5px -153px !important;
}
textarea {
	resize: none;
	font-size: 11pt;
	font-family: 'Open Sans', sans-serif;
	width: 455px;
	height: 220px;
}
#inputs input:focus, #inputs textarea:focus {
    background-color: #fff;
    border-color: #ddd;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}
#actions #submit {
	background: #DD0E2A;
    border-radius: 0px;
    border: 0;
    opacity: 1;
    color: #ddd;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    margin: 2px 6px 0 0px;
    padding: 0 18px 0 18px;
    float: right;
    position: relative;
    text-decoration: none;
    display: none;
}
#actions #submit:hover {
	cursor: pointer;
}

/* --- end of ContactForm --- */


/* $pfBottom */

#pfBottom {
	position: relative;
	width: 100%;
	background: url(../img/blackorchid.png) repeat #101010;
	height: 60px;
	margin-top: 20px;
	float: left;
}
#pfBottom .pfBottomContainer {
	width: 960px;
	margin: 0 auto;
}
#pfBottom p.copyright {
	position: relative;
	top: 18px;
	left: 0px;
	color: #ddd;
}
#pfBottom .pfBottomBackToTop {
	position: relative;
	top: -10px;
	float:right;
	width: 40px;
	height: 40px;
	background: url(../img/up.png) no-repeat -7px -5px transparent;
	opacity: 0.7;
}
#pfBottom .pfBottomBackToTop:hover {
	opacity: 0.9;
}
#pfBottom .pfBottomBackToTop a.pfBottomBackToTopLink {
	display: block;
	width: 40px;
	height: 40px;
}
